.marker {
	display: inline-block;
	border-radius: 20px;
	padding: 4px 10px;
}

.primary {
	color: var(--primary);
	border: solid 1px var(--primary);
	background: none;
}

.secondary {
	color: var(--black);
	border: solid 1px var(--gray-light);
	background: none;
}

.small {
	font-size: 12px;
	line-height: 1;
}

.medium {
	font-size: 14px;
	line-height: 1;
}
